singularity.pullTimeout = '1800s'

process {
    withName: 'NANOPORE_VARCALL:LOFREQ_CALL' {
        memory = 256.GB
    }

    withName: 'ILLUMINA_VARCALL:CALL_CONSENSUS_VCF' {
        memory = 128.GB
    }

    withName: 'ILLUMINA_VARCALL:FREEBAYES_CALL' {
        memory = 128.GB
    }

    // When there isnt enough reads to assemble
    withName: 'ASSEMBLE_REFERENCE:SPADES_ASSEMBLE' {
        errorStrategy = 'ignore'
    }

    // When no top hits are found
    withName: 'ASSEMBLE_REFERENCE:BUILD_REFERENCE_FASTA' {
        errorStrategy = 'ignore'
    }

    // When iter align fails
    withName: 'ITERATIVE_ALIGNMENT' {
        errorStrategy = 'ignore'
    }
}